DB_TYPE     = "mysql|sqlite"
DB_HOST     = "localhost"
DB_USER     = "username"
DB_PASSWORD = "password"
DB_DATABASE = "databasename"
DB_TABLE    = "readinglist"
LINKTOSELF  = "http://urltoyourserver.com/readinglist/"
SYSTEM      = "My Blog Collection"
APP_ENV     = "dev|prod"
