<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reading List</title>
	
	<link rel="stylesheet" href="assets/css/simple.css">
    <link rel="stylesheet" href="assets/css/custom.css">
	<link rel="icon" href="assets/images/browser.png" type="image/png">
</head>

<body>

<header>
    <h1>Reading List</h1>
	<nav>
		<a href="/">List Active</a>
		<a href="/showdeleted">List Deleted</a>
		<a href="/showxml">List as XML</a>
	</nav>
</header>

{% block content %}{% endblock %}

</body>
<footer>
<nav>
	<a href="https://www.flaticon.com/free-icons/browser" title="browser icons">Browser icons created by srip - Flaticon</a>
	|
	Theme <a href="https://simplecss.org">Simple Css</a>
	|
	Using {{ dbase }} for the database
</nav>	
</footer>

</html>