<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reading List</title>
	
	<link rel="stylesheet" href="assets/css/simple.css">
    <link rel="stylesheet" href="assets/css/custom.css">
	<link rel="icon" href="assests/images/browser.png" type="image/png">
</head>

<body>

<header>
    <h1>Reading List</h1>
  </header>

{% block content %}{% endblock %}

</body>
<footer>
<a href="https://www.flaticon.com/free-icons/browser" title="browser icons">Browser icons created by srip - Flaticon</a>
</footer>

</html>